### Project specific config ###
matrix:
  include:
    - os: linux
      language: go
      go: 1.8
      env: ATOM_CHANNEL=stable

    - os: linux
      language: go
      go: 1.8
      env: ATOM_CHANNEL=beta

install:
  - go get -u github.com/golang/lint/golint

### Generic setup follows ###
dist: trusty
sudo: required
group: sugilite

script:
  - curl -s -O https://raw.githubusercontent.com/atom/ci/master/build-package.sh
  - chmod u+x build-package.sh
  - ./build-package.sh

notifications:
  email:
    on_success: never
    on_failure: change

branches:
  only:
    - master
    - /^greenkeeper/.*$/

git:
  depth: 10

addons:
  apt:
    packages:
    - build-essential
    - fakeroot
    - git
    - libsecret-1-dev
