### Project specific config ###
environment:
  GOPATH: C:\gopath
  matrix:
  - ATOM_CHANNEL: stable
  - ATOM_CHANNEL: beta

init:
- ps: >-
    $app = Get-WmiObject -Class Win32_Product -Filter "Vendor = 'http://golang.org'"

    if ($app) {
      $app.Uninstall()
    }

install:
  - rmdir C:\go /s /q
  - appveyor DownloadFile https://storage.googleapis.com/golang/go1.5.windows-amd64.msi
  - msiexec /i go1.5.windows-amd64.msi /q
  - go version
  - go env
  - mkdir C:\gopath
  - go get -u github.com/golang/lint/golint
  - SET PATH=%GOPATH%\bin;%PATH%

### Generic setup follows ###
build_script:
  - ps: iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/atom/ci/master/build-package.ps1'))

branches:
  only:
    - master

version: "{build}"
platform: x64
clone_depth: 10
skip_tags: true
test: off
deploy: off
